.main-menu{
	margin-top: 40px;
	width:100%;
	height:50px;
	background: gray;
}
.main-menu > ul{
	list-style-type: none;
}

.main-menu > ul > li{
	float: left;
	line-height: 50px;
	font-size: 18px
}
.main-menu > ul > li > a{
	color:white;
	text-decoration: none;
}
.main-menu > ul > li > a:hover{
	color:white;
	text-decoration: none;
}
.main-menu > ul > li:nth-child(2),
.main-menu > ul > li:nth-child(3),
.main-menu > ul > li:nth-child(4){
	padding:0px 15px;
	border-left: 1px solid white;
}
.main-menu>ul>li>ul{
	display: none;
	list-style-type: none;
	background: gray;
	position: absolute;
	z-index: 10;
}
#slider{
	margin-bottom: 60px;
}

.main-menu>ul>li:hover>ul{
	display: block;
	padding:0px 10px;
}
.main-menu>ul>li>ul>li>a{
	text-decoration: none;
	color: white;
}
